h6,h1,h2,h3,h4 {
  text-align: center;
}

h4{
  margin: 3% 0% 1% 0% !important;
}

.MuiTypography-body2 {
  min-width: 200px;
  text-transform: none!important;
  margin: 6% 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option{
  display: block !important;
  width: -webkit-fill-available;
  margin: 0.2% !important;
  border: none !important;
  border-radius: 3px !important;  
}
.options, .kinds{
  margin: auto !important;
  align-items: center;
  display: flex !important;
  overflow: auto;
  padding: 2%;
}

.kinds{
  margin-top: 3% !important;
  justify-content: center;
}

.result-card{
  max-width: 345px;
  margin: 0 auto 0 auto;
}

.result-img {
  height: 140px;
}

.result-card .MuiCardContent-root{
  min-height: 140px;
}

.meth{
  margin: 0 auto 5% auto;
  text-align: center;
  padding: 0px 10%;
}