h6,h1,h2,h3,h4,h5 {
  padding-left: 2%;
}

h5{
  margin: 1.5% 0% 0% 0% !important;
}

.MuiTypography-body2 {
  min-width: 200px;
  text-transform: none!important;
  padding: 3% 0 3% 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px rgba(125,125,125,0.5);
}

.MuiTypography-body2:last-child {
  border-bottom: none !important;
}


.option{
  display: block !important;
  width: -webkit-fill-available;
  margin: 0.2% !important;
  border: none !important;
  border-radius: 3px !important;  
}
.options, .kinds{
  margin: auto !important;
  align-items: center;
  display: flex !important;
  overflow: auto;
  padding: 1% 2%;
}

.kinds{
  margin-top: 3% !important;
  justify-content: center;
  margin: 0.2% !important;
}

.kind-option{
  border: none !important;
  border-radius: 3px !important;  
}

.result-card{
  max-width: 345px;
  margin: 2% auto 0 auto;
}

.result-img {
  height: 140px;
}

.result-card .MuiCardContent-root{
  min-height: 140px;
}

.meth{
  margin: 0 auto 5% auto;
  padding: 1px 2%;
}